<div class="jumbotron">
    <h1>ATM</h1>
</div>

<h2>Operations</h2>

<div class="row">
    
    <div>
        @Html.ActionLink("Balance", "Balance", "Operation")
    </div>

    <div>
        @Html.ActionLink("Withdrawal", "Withdrawal", "Operation")
    </div>

</div>